[user]
	name = Asutosh Panda
	email = asutosh.pda@gmail.com

[core]
	editor = vim
	autocrlf = input

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[pull]
	rebase = false

[alias]
	st = status
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all

[includeIf "gitdir:~/gh-clones/gh-clones-personal/"]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/gh-clones/gh-clones-one2n/"]
	path = ~/.gitconfig-one2n

[includeIf "gitdir:~/gh-clones/gh-clones-fravityai/"]
	path = ~/.gitconfig-fravity
